
@import "ember-bootstrap/bootstrap";

.navbar {
    border-radius: 0;
}

.pointer-cursor{
    cursor: pointer;
}

.position-relative {
    position: relative;
}

.inline-spinner {
    .ember-cli-spinner{
        position: absolute;
    }
}