@import "ember-bootstrap/bootstrap";
@import "breadcrumbs";
@import "user-profile";
.gray-background {
    background-color: darken(white, 8%);
    padding: 30px;
    height: calc(100vh - 50px);
    overflow: auto;
}

.index-header {
    text-align: center;
    font-size: 4em;
    background-color: black;
    color: white;
    line-height: 2;
    transition: linear .5s line-height;
    &.extended {
        line-height: 4;
    }
}

.heading {
    margin: 0;
    padding: 0;
    line-height: 2;
    font-size: 30px;
    overflow: hidden;
    max-height: 0;
    transition: linear .5s max-height;
    &.appear {
        max-height: 60px;
        opacity: 1.0;
    }
}

.navbar {
    border-radius: 0;
}

.pointer-cursor {
    cursor: pointer;
}

.position-relative {
    position: relative;
}

.inline-spinner {
    .ember-cli-spinner {
        position: absolute;
    }
}

.text-24bold {
    font-size: 24px;
    font-weight: bold;
}

.margin-top20 {
    margin-top: 20px;
}

.git-user-result {
    border-bottom: 1px solid #cbcbcb;
    padding: 10px;
    &:first-child {
        border-top: 1px solid #cbcbcb;
    }
    &:hover {
        background-color: darken(white, 5);
    }
    .image {
        height: 40px;
    }
    .login {
        line-height: 40px;
        font-size: 20px;
        font-weight: bold;
    }
}