<h4>ISSUES</h4>
<table class="table table-stripped">
    <tbody>
        {{#each model as |i|}}
            <tr>
                <td>
                    <img src={{i.user.avatar_url}} class="img-circle" style="width:100px;" alt="">
                </td>
                <td>
                    {{i.title}}
                </td>
                <td>
                    {{i.created_at}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>