<h2>{{model.name}}'s Github</h2>
<hr>
<ul>
    <li>{{#link-to "user.repositories"}} Repositories {{/link-to}}
    </li>
    <li><a href="#">News and Events</a></li>
    <li><a href="#">Gists</a></li>
</ul>