<h1>Github Explorer</h1>
<hr>
<p>This is the Github explorer for all of our favorite developers</p>

{{#search-component onSearch=(action "searchCall") as |response|}}
    <div class="margin-top20">
        {{#if response.items.length}}
            {{#each response.items as |item|}}
                {{user-nav-item user=item tagName="div" class="git-user-result" action="navigateToUser"}}
            {{/each}}
        {{else}}
            <div class="text-center text-24bold">
                No users found
            </div>
        {{/if}}
    </div>
{{/search-component}}