{{bread-crumbs tagName="ol" class="custom-breadcrumbs" linkable=true}}
<div class="container-fluid gray-background">
    <div class="row">
        <div class="col-sm-4">
            {{user-profile-side user=model}}
        </div>
        <div class="col-sm-8">
            {{outlet}}
        </div>
    </div>
</div>